<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/style.css" type="text/css" rel="stylesheet" />   
   
    <title>Bolg</title>
</head>

<body>
    <div id="center">
        <div id="image"> 
            <img src="/assets/images/teclado-em-close-up_1161-210.jpg" alt="logo">
         
        </div>  
        <div id="articli">
            <h1> New blog article </h1>
            <p>Se-Cadastre aqui: O Blog do dev iniciante</p>
        </div>
     
        <div class="cadastro">
            <form action="" id="form-cadastro" method="post">
                <fieldset id="form">
                    <legend>CADASTRO</legend>
                    <legend>Name</legend>
                    <input type="text" name="name"> <br />
                    <legend>E-mail</legend>
                    <input type="text" name="email"> <br />
                    <legend>Password</legend>
                    <input type="password" name="senha"><br />
                    <button type="submit" form="form-cadastro">SEND</button>
                </fieldset>
            </form>
        </div>
        <div class="login">
            <form action="" id="login" method="post">
                <fieldset>
                    <legend>LOGIN</legend>
                    <legend>Name</legend>
                    <input type="text" name="name"> <br />
                    <legend>E-mail</legend>
                    <input type="email" name="email"> <br />
                    <legend>Password</legend>
                    <input type="password" name="senha"><br />
                    <button type="submit" form="login">SEND</button>
                </fieldset>
            </form>
        </div>
    

    </div>
    
</body>
<!-- <script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
<script src="https://unpkg.com/mustache@latest"></script> -->

</html>