<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" rel="stylesheet" href= "/style.css" /> -->
    <!-- <base href= "/style.css" /> -->
    <link href= "/public/style.css" type="text/html" rel="stylesheet">   
   
    <title>Bolg</title>
</head>

<body>
    <!-- <div id="image">
        <img src="../public/images/logo.jpg" alt="logo">
    </div> -->
    <h1> New blog article </h1>
    <p>se cadastre aqui: O blog do dev iniciante</p>
    <div class="cadastro">
        <form action="" id="form" method="post">
            <fieldset id="form">
                <legend>Cadastro</legend>
                <legend>name</legend>
                <input type="text" name="name"> <br />
                <legend>E-mail</legend>
                <input type="text" name="email"> <br />
                <legend>password</legend>
                <input type="password" name="senha"><br />
                <button type="submit">send</button>
            </fieldset>
        </form>
    </div>
    <div class="login">
        <form action="" id="form" method="post">
            <fieldset>
                <legend>login</legend>
                <legend>name</legend>
                <input type="text" name="name"> <br />
                <legend>E-mail</legend>
                <input type="text" name="email"> <br />
                <legend>password</legend>
                <input type="password" name="senha"><br />
                <button type="submit">send</button>
            </fieldset>
        </form>
    </div>

</body>
<!-- <script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
<script src="https://unpkg.com/mustache@latest"></script> -->

</html>